@import url('styles/header.css');
@import url('styles/banner.css');
@import url('styles/carrossel.css');
:root {
  --background-color: #ebecee;
  --white-color: #ffffff;
  --orange-color: #eb9800;
  --blue-gradient: linear-gradient(97.54deg, #002f52 35.49%, #326598 165.37%);
  --font-poppins: "Poppins", sans-serif;
}
body {
  background-color: var(--background-color);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
