.footer {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 1.5em 2em;
}
.footer__titulo {
  margin-bottom: 1.5em;
  font-family: var(--font-poppins);
  font-weight: 500;
}
.footer__texto {
  text-align: right;
  font-style: italic;
}
.footer__texto:hover {
  color: var(--orange-color);
  font-size: 1.1em;
  transition: 300ms;
}