.formulario {
  background-color: var(--white-color);
  color: var(--blue-color);
  text-align: center;
  font-family: var(--font-poppins);
  padding: 2.5em 2em;
}
.form__titulo {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.form__paragrafo {
  font-weight: 300;
  line-height: 24px;
  flex-wrap: wrap;
  margin: 1.8em 0
}
.form__input {
  background: transparent;
  border: solid 1px var(--blue-color);
  color: var(--blue-color);
  border-radius: 24px;
  width: 100%;
  padding: 1em 2em;
}
.form__input::placeholder {
  color: var(--blue-color);
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background: url('../email-img.svg') no-repeat;
  background-position: 1em;
}