.cabecalho__menu-hamburguer {
  height: 24px;
  width: 24px;
  background-image: url(../menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.cabecalho {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}
.container__imagem {
  padding: 1em;
}
.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}
.container__botao:checked ~ .lista-menu {
  display: block;
}
.lista-menu__titulo, .lista-menu__item {
  padding: 1em;
  background-color: var(--white-color);
}
.lista-menu__titulo {
  color:var(--orange-color);
  font-weight: 700;
}
.lista-menu__link {
  background: var(--blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.container__botao {
  display: none;
}