.cabecalho__menu-hamburguer {
  height: 24px;
  width: 24px;
  background-image: url(../menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.cabecalho {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}
.container__imagem {
  padding: 1em;
}
.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}
.container__botao:checked ~ .lista-menu {
  display: block;
}
.lista-menu__titulo, .lista-menu__item {
  padding: 1em;
  background-color: var(--white-color);
}
.lista-menu__titulo {
  color:var(--orange-color);
  font-weight: 700;
}
.lista-menu__link {
  background: var(--blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.container__botao {
  display: none;
}

.container__titulo, .opcoes {
  display: none;
}
/* Media Query */
@media screen and (min-width: 1024px) {
  .container__titulo, .container__titulo--negrito {
    font-family: var(--font-josefin);
    font-size: 30px;
    display:contents;
  }
  .container__titulo {
    font-weight: 400;
  }
  .container__titulo--negrito {
    font-weight: 700;
  }
  .opcoes {
    display: flex;
    align-items: center;
    display: contents;
    color: #000000;
    font-family: var(--font-poppins);
    text-transform: uppercase;
  }
  .opcões__item {
    font-weight: 400;
    padding: 0 1em;
  }
  .opcoes__link {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
  }
  #favorite {
    display: none;
  }
}